.mainWrapper {
    color: black;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;

    li {
        margin: auto 2rem;

        &:hover {
            cursor: pointer;
        }
    }
}
